<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Modules.CasualtyBureau.CallerSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>viewCaller</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createCaller_withourAnyData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteCaller</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateCaller</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createCaller_withMandotoryData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchCaller</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
