<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Uleaf 2.0 Automation Run</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ff7cd8">  <td>16/10/18 17:45:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CallerSuite.startBrowser()[pri:0, instance:Modules.CasualtyBureau.CallerSuite@6fee3a]">&gt;&gt;startBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="ff7cd8">  <td>16/10/18 17:45:54</td>   <td>50136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CallerSuite.viewCaller(java.lang.reflect.Method)[pri:0, instance:Modules.CasualtyBureau.CallerSuite@6fee3a]">viewCaller</td> 
  <td>main@17510567</td>   <td></td> </tr>
</table>
