<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Modules.Actions.FastAction.FastActionActivityLog</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fastActionActivityLog_SearchResultTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchFromPublicGroupSet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fastActivityLogSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchFromPrivateGroupSet</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
