<h2>Reporter output</h2><table><tr><td>STEP1</td></tr>
<tr><td>............................</td></tr>
<tr><td>STEP3</td></tr>
<tr><td>STEP4</td></tr>
<tr><td>Execution Startes @ :11-05-2017: 17:32:27</td></tr>
<tr><td>STEP6</td></tr>
<tr><td>............................</td></tr>
<tr><td>STEP8</td></tr>
</table>